// Subtitle effect text styling
.site-subtitle {
  font-weight: 600 !important;
}

// Subtitle effect cursor styling
.subtitle-cursor {
  color: inherit;
  font-weight: 600 !important;
  font-size: 1.2em !important;
}
